# FastAPI Web 框架
fastapi==0.117.1
uvicorn==0.37.0
# PyTorch（CPU 或 GPU，根据环境选择）
torch==2.6.0

# HuggingFace Transformers
transformers==4.41.0
tokenizers==0.19.1

# ModelScope（支持 ModelScope pipeline）
modelscope==1.12.0

# YAML 配置解析
PyYAML==6.0

# 可选工具库
numpy==1.25.2

sentence-transformers==5.1.1

